:root {
  --cor-fundo: #0b1f2a;
  --cor-texto: #f8fafc;
  --cor-sombra: black;

  --fonte-geral: Arial, Helvetica, sans-serif;
  --fonte-titulo:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-geral);
  color: var(--cor-texto);
  background-color: black;
  justify-items: center;
}

header,
main,
footer {
  width: 840px;
  height: auto;
}

header {
  display: grid;
  grid-template-columns: 30fr 70fr;
  place-items: center;
  background-color: #0b1f2a;
}

header img {
  width: 100px;
  padding: 10px;
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

nav {
  align-self: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

h1,
h2 {
  font-family: var(--fonte-titulo);
  color: var(--cor-texto);
  text-shadow: 0 0 10px var(--cor-sombra);
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

.hero article {
  position: absolute;
  top: 300px;
  left: 0;
  width: 96.19%;
  text-align: justify;
  border-radius: 1%;
  text-shadow: 0px 0px 2px var(--cor-sombra);
  background-color: var(--cor-fundo);
  opacity: 0.9;
}

.hero article img {
  width: 125px;
  float: right;
  border-radius: 5%;
  margin: 10px 10px 10px 30px;
}

.hist {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px 20px;
  background-color: #0b1f2a;
}

.hist div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hist div h2 {
  padding-bottom: 10px;
}

.advent {
  text-align: center;
  margin: 0;
  padding: 10px 20px;
  background-color: #0b1f2a;
}

.advent h2 {
  padding-bottom: 10px;
}

.advent div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer {
  background-color: #0b1f2a;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer nav {
  position: absolute;
  right: 80px;
}