:root {
  /* borda */
  --cor-da-borda: black;
  --estilo-da-borda: solid;
  --espessura-da-borda: 1px;

  /* cores gerais */
  --cor-destaque: darkblue;
  --cor-do-fundo-escuro: gray;
  --cor-texto-fundo-escuro: white;

  /* limites */
  --limite-de-largura: 840px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: var(--limite-de-largura);
}

nav {
  background-color: var(--cor-destaque);
  padding: 10px;
}

nav a {
  color: var(--cor-texto-fundo-escuro);
  display: block;
  padding: 20px;
}

h1 {
  color: var(--cor-destaque);
}

main img {
  float: right;
  width: 150px;
  height: auto;
  box-shadow: 0 0 30px var(--cor-do-fundo-escuro);
}

p {
  padding: 0;
}

aside {
  position: relative;
  width: var(--limite-de-largura);
  margin: 0;
  border: var(--espessura-da-borda) var(--estilo-da-borda) var(--cor-da-borda);
  padding: 10%;
  background-color: var(--cor-do-fundo-escuro);
  color: var(--cor-texto-fundo-escuro);
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 20px;
  left: 80px;
}

footer {
  text-align: center;
  margin-top: 50px;
  border-top: var(--espessura-da-borda) double var(--cor-da-borda);
}

/* Seletores de Classe */
.caixa {
  margin: 1rem;
  border: var(--espessura-da-borda), var(--estilo-da-borda), rgb(0, 0, 0 / 10%);
  padding: 1rem;
  background-color: var(--cor-do-fundo-escuro);
  color: var(--cor-texto-fundo-escuro);
}